## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,43,Gorontalo,ID,87.01,overcast clouds,0.5412,123.0595,Maqna Hotel by Prasanthi
1,107,Kununurra,AU,89.58,broken clouds,-15.7667,128.7333,Hotel Kununurra
2,164,Pecos,US,85.03,clear sky,31.4229,-103.4932,Knights Inn & Suites Pecos
3,294,Ende,ID,86.38,broken clouds,-8.8432,121.6623,Dwi Putra Hotel - Ende
4,312,Karratha,AU,88.29,clear sky,-20.7377,116.8463,ibis Styles Karratha

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for
#the city
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method
# Hint: The starting and ending city should be the same city
vacation_start = vacation_df.loc[vacation_df['City'] == 'Karratha']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Karratha']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Port Hedland']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Kununurra'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Emerald']

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
roadtrip = gmaps.directions_layer(start, end,
                                 waypoints=[stop1, stop2, stop3],
                                 travel_mode="DRIVING")
fig.add_layer(roadtrip)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1,
                         vacation_stop2, vacation_stop3, vacation_end],
                         ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,312,Karratha,AU,88.29,clear sky,-20.7377,116.8463,ibis Styles Karratha
1,458,Port Hedland,AU,87.85,clear sky,-20.3167,118.5667,The Esplanade Hotel
2,107,Kununurra,AU,89.58,broken clouds,-15.7667,128.7333,Hotel Kununurra
3,628,Emerald,AU,90.34,light rain,-23.5333,148.1667,The Irish Village
4,312,Karratha,AU,88.29,clear sky,-20.7377,116.8463,ibis Styles Karratha

In [10]:

# 9 Using the template add city name, the country code, the weather description and maximum temperature for 
# the city
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame
locations = itinerary_df[["Lat", "Lng"]]

In [11]:
# 11a. Add a marker layer for each city to the map
fig=gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))