## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np



# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
0,0,Mataura,-46.1927,168.8643,70.75,52,100,4.85,NZ,2021-10-25 00:48:32,overcast clouds
1,1,Black River,18.0264,-77.8487,82.40,80,37,4.85,JM,2021-10-25 00:48:33,scattered clouds
2,2,Clyde River,70.4692,-68.5914,12.87,77,97,4.65,CA,2021-10-25 00:47:15,overcast clouds
3,3,Alekseyevsk,57.8406,108.3492,39.22,91,100,12.53,RU,2021-10-25 00:48:33,overcast clouds
4,4,Bluff,-46.6000,168.3333,57.72,81,99,11.92,NZ,2021-10-25 00:48:33,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
43,43,Gorontalo,0.5412,123.0595,87.01,61,93,2.08,ID,2021-10-25 00:48:46,overcast clouds
107,107,Kununurra,-15.7667,128.7333,89.58,55,70,3.44,AU,2021-10-25 00:49:10,broken clouds
164,164,Pecos,31.4229,-103.4932,85.03,19,1,6.91,US,2021-10-25 00:49:28,clear sky
185,185,Merauke,-8.4667,140.3333,85.71,67,100,5.48,ID,2021-10-25 00:49:36,overcast clouds
294,294,Ende,-8.8432,121.6623,86.38,67,66,2.48,ID,2021-10-25 00:50:15,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        22
City           22
Lat            22
Lng            22
Max Temp       22
Humidity       22
Cloudiness     22
Wind Speed     22
Country        22
Date           22
Description    22
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows
clean_cities_df = preferred_cities_df.dropna()
clean_cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
43,43,Gorontalo,0.5412,123.0595,87.01,61,93,2.08,ID,2021-10-25 00:48:46,overcast clouds
107,107,Kununurra,-15.7667,128.7333,89.58,55,70,3.44,AU,2021-10-25 00:49:10,broken clouds
164,164,Pecos,31.4229,-103.4932,85.03,19,1,6.91,US,2021-10-25 00:49:28,clear sky
185,185,Merauke,-8.4667,140.3333,85.71,67,100,5.48,ID,2021-10-25 00:49:36,overcast clouds
294,294,Ende,-8.8432,121.6623,86.38,67,66,2.48,ID,2021-10-25 00:50:15,broken clouds
312,312,Karratha,-20.7377,116.8463,88.29,25,0,10.02,AU,2021-10-25 00:50:22,clear sky
344,344,Abu Zabad,12.3500,29.2500,85.46,21,94,13.78,SD,2021-10-25 00:50:34,overcast clouds
347,347,Cabo San Lucas,22.8909,-109.9124,85.30,78,3,9.66,MX,2021-10-25 00:50:35,clear sky
350,350,Boa Vista,2.8197,-60.6733,87.78,58,20,5.75,BR,2021-10-25 00:50:36,few clouds
365,365,Namatanai,-3.6667,152.4333,85.95,65,53,4.21,PG,2021-10-25 00:50:42,broken clouds
384,384,Wewak,-3.5534,143.6268,85.08,67,99,6.13,PG,2021-10-25 00:50:49,overcast clouds
385,385,Douentza,14.9951,-2.9517,86.92,43,35,8.21,ML,2021-10-25 00:50:49,scattered clouds
390,390,Port Moresby,-9.4431,147.1797,87.22,70,40,11.50,PG,2021-10-25 00:50:34,haze
394,394,Araouane,18.9048,-3.5265,88.41,23,95,9.42,ML,2021-10-25 00:50:52,overcast clouds
398,398,Ambon,-3.6954,128.1814,89.74,70,20,3.44,ID,2021-10-25 00:50:54,few clouds
402,402,Kandrian,-6.2167,149.5500,86.86,65,23,6.35,PG,2021-10-25 00:50:55,few clouds
454,454,Makakilo City,21.3469,-158.0858,86.32,54,20,11.50,US,2021-10-25 00:48:48,few clouds
458,458,Port Hedland,-20.3167,118.5667,87.85,23,0,6.91,AU,2021-10-25 00:51:16,clear sky
462,462,Bowen,-20.0167,148.2333,88.02,62,16,10.51,AU,2021-10-25 00:51:17,few clouds
527,527,Vanimo,-2.6741,141.3028,85.33,65,100,6.64,PG,2021-10-25 00:50:42,overcast clouds
543,543,Sola,-13.8833,167.5500,88.47,70,75,5.75,VU,2021-10-25 00:51:44,broken clouds
628,628,Emerald,-23.5333,148.1667,90.34,37,100,6.91,AU,2021-10-25 00:52:11,light rain

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = clean_cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
43,Gorontalo,ID,87.01,overcast clouds,0.5412,123.0595,
107,Kununurra,AU,89.58,broken clouds,-15.7667,128.7333,
164,Pecos,US,85.03,clear sky,31.4229,-103.4932,
185,Merauke,ID,85.71,overcast clouds,-8.4667,140.3333,
294,Ende,ID,86.38,broken clouds,-8.8432,121.6623,
312,Karratha,AU,88.29,clear sky,-20.7377,116.8463,
344,Abu Zabad,SD,85.46,overcast clouds,12.3500,29.2500,
347,Cabo San Lucas,MX,85.30,clear sky,22.8909,-109.9124,
350,Boa Vista,BR,87.78,few clouds,2.8197,-60.6733,
365,Namatanai,PG,85.95,broken clouds,-3.6667,152.4333,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the coordinates to a location key for the params dictionary
    params["location"] = f"{lat}, {lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... Skipping.")

Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
hotel_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
43,Gorontalo,ID,87.01,overcast clouds,0.5412,123.0595,Maqna Hotel by Prasanthi
107,Kununurra,AU,89.58,broken clouds,-15.7667,128.7333,Hotel Kununurra
164,Pecos,US,85.03,clear sky,31.4229,-103.4932,Knights Inn & Suites Pecos
312,Karratha,AU,88.29,clear sky,-20.7377,116.8463,ibis Styles Karratha
344,Abu Zabad,SD,85.46,overcast clouds,12.3500,29.2500,حامد محمد نور

In [10]:
# 8a. Create the CSV file
output_data_file = "WeatherPy_vacation.csv"

#8b. Export the CSV
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature 
#for the city
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame
locations = hotel_df[["Lat", "Lng"]]

In [13]:

# 11a. Add a marker layer for each city to the map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))